<h2>Monday Night Pinball</h2>
<br/>
<h3>Overview</h3>
<p>
  Monday Night Pinball is a friendly competitive pinball bar league in the Greater Seattle Metropolitan Area that aims to build 
  interest in the hobby and encourage players and their teams to grow together. The league consists of 24 teams spread out over 14 
  venus, where each venue hosts one or two teams. Each team fields 10 players weekly, thus there are 240 players competing weekly across 
  14 matches.  A pool of over 100 Subs allows every team to field a full 10 players, even when one or more of their regular roster members 
  are absent during a league night. Membership is only $1 per player per season; Substitutes can participate at no cost.  Players are responsible
  for paying for their own pinball games on league night.
</p>
<p>
  Prospective players, ask you local bar tender about their team captains. Or reach out in
  <a href="https://www.facebook.com/groups/1629793610612232">MNP Player Recruiting</a> on Facebook.  
</p>
<br/>
<h3>Jan 13, 11:00am</h3>
<p>
New season begins Feb 6th 2023. Matches start at 8:15pm this season. Schedule coming soon.
</p>
<br/>
<h3>Aug 29, 7:47pm</h3>
<p>
New season begins Sept 12th, site updated with latest schedule.
</p>
<br/>
<h3>Aug 22, 11:40pm</h3>
<p>
Fall 2022 season now posted.
</p>
<br/>
<h3>Feb 24, 1:40pm</h3>
<p>
  Thank you to captains and teams for chiming in on their readiness to begin the season on March 7th, and whether we reduce season to finish before Memorial Day, or still have a full season and finish by end of June. Based on the feedback, here are the details for the Spring 2022 season.
</p><p>
  The MNP Spring 2022 season will begin on <strong>Monday March 7th</strong>, and we will run a full season of 10+ weeks and full playoffs, to <strong>end no later than Monday June 27th.</strong>
</p><p>
  Two teams have opted to skip out on the season if it ran beyond Memorial Day. Those are All Madden Team (AMT, formerly Lake City Shooters) and Specials When Lit (SWL). As such, we will be producing a new 24-team schedule as quickly as possible, with a goal to finalize it within a week.
</p><p>
  Players on AMT and SWL who do still want to play in Spring 2022 may do so as subs this season and return to their home team for Fall 2022. Given some teams are concerned about finding subs this season, this could in fact be helpful to have a slightly larger sub pool this season. We encourage those players to join the MNP Player Recruiting Facebook group to find matches with teams looking for subs.
  Summary of the results, 16 of the 26 teams preferred the full season and playoffs ending in late June. 10 of the 26 teams preferred the shortened season. No teams preferred delaying until summer or fall. 
</p>
<br/>
<h3>Jan 31, 2022 - 11:00pm</h3>
<p>
  <strong>The start of Monday Night Pinball will be delayed at least until Monday March 7th.</strong> That day is itself tentative, based on another round of checking in with the captains about two weeks prior to that. Details of the answers we received from teams follows.
</p>
<p>  
  DETAILS on reaching this decision follow in the rest of <a href="https://www.facebook.com/groups/seattlemnp/?multi_permalinks=1533189327063206&notif_id=1643695269935982&notif_t=group_activity&ref=notif">this post</a>.
</p>
<br/>
<h3>Jan 26, 2022 - 4:40pm</h3>
<p>
All, it has been recommended by one of the captains to delay the start of MNP's Spring 2022 season, currently scheduled for Monday Feb 7, due to current high COVID infection rates.
To obtain a fair assessment from the entire league, a questionnaire has been sent to the captains to assess your team's position in this matter. Please be sure to discuss your preference with your captain, whether it be to start as planned or delay the season, so that their answers accurately reflect your whole team.
A final decision on this matter will be made next week and posted here.
Thanks for your cooperation.
</p>
<br/>
<br/>
<p>
For more information, monitor the Monday Night Pinball Facebook Page (
  <a href="https://www.facebook.com/SeattleMondayNightPinball">https://www.facebook.com/SeattleMondayNightPinball</a>). For specific questions
  to the board members, please send email to <a href="mailto:seattlemnp@gmail.com">seattlemnp@gmail.com</a>
</p>
