<h2>Monday Night Pinball</h2>

<p>
Seattle's <B>Monday Night Pinball (MNP)</B> is returning Post-Covid with the
 Fall 2021 season, with the first week planned for Monday 
September 13, 2021.
</p>
<br/>
<H3>Fall 2021 Schedule Posted</H3>
<p>Fall 2021 Schedule is now posted. Play remains tentative as we monitor the COVID-19 situation at our venues. MNP COVID-19 policy has been shared with each team captain. Please contact your team captain for more information.</p>
<br/>
<H3>Fall 2021 Rule Changes</H3>
Here are the key rule changes for the upcoming season. Some of them are significant.
<ul>
<li>Start time of each league night has moved to 8:30pm to begin picks. 8:45pm to begin Round 1 play.
<li>Tie breakers will be eliminated. Matches ending in a tie will be counted in standings as half-win/half-loss. 
<li>Maximum Team IPR reduced to 36 (from 40)
<li>Grandfathering into a higher team cap is still allowed if at least 6 players from a team are returning, but such teams must have all players play at least 2 of first 5 matches. Players that don’t must be dropped from the roster and new players added following the lower team cap rule.
<li>A and B division separation has been abolished..
<li>Instead, there will be two GROUPS of teams (similar to conferences) where top 7 in each group moves on to playoffs, winner of group gets a Bye.
<li>In Fall 2021, teams in Group Y will only play teams in Group Z, and vice versa. Tentative plan for Spring 2022 is intra-group play only.
<li>IPRs remain frozen from what was in place in Spring 2020 when league was aborted, and will remain frozen throughout the fall regular season. Next update will be prior to the playoffs of the Fall 2021 season.
<li>A venue must continue to have 8 machines and be open until at least midnight on league night. A venue that normally closes before midnight will still be allowed to host if they make an exception on Monday nights for league players only to stay beyond closing hours to allow the match to conclude.
</ul>
For a more detailed description of the rule changes, please proceed to the following document: <A HREF="https://tinyurl.com/MNPFall2021RuleChanges">MNP Fall 2021 Rule Changes</A>
<br/>
<br/>
<p>
For more information, monitor the Monday Night Pinball Facebook Page (
  <a href="https://www.facebook.com/SeattleMondayNightPinball">https://www.facebook.com/SeattleMondayNightPinball</a>). For specific questions
  to the board members, please send email to <a href="mailto:seattlemnp@gmail.com">seattlemnp@gmail.com</a>
</p>
