<h2>Monday Night Pinball</h2>



<P>
Seattle's Monday Night Pinball is expected to return Post-Covid with the Fall 2021 season, with the first week tentatively planned for Monday September 13, 2021.
</P>
<P></P>
While the season is currently only in the planning stages, here are a few expectations for the new season:
  <ul>
    <li>Teams will remain 10 players, but new team composition rules are likely.
    <li>Elimination of A/B division separation. A new division structure will be introduced.
    <li>No change in the actual matches with regards to singles and doubles games and which team picks when, and game scoring.
    <li>Retaining a minimum of 8 machines for venues. Venues that no longer have that many machines will not be able to participate.
    <li>All teams will need to re-apply for entry into the league, specifying their preferred location, captains and co-captains with league experience, and at least 8 of the 10 players defined.
    <li>Call-for-teams is expected late June 2021. Deadline to apply will be late July 2021.
    <li>Venues will be required to adhere to current state guidelines related to any remaining Covid constraints, if any.
    <li>More details about the league and rule changes are expected when the Call for Teams is announced.
  </ul>
<p>
For more information, monitor the Monday Night Pinball Facebook Page (
  <a href="https://www.facebook.com/SeattleMondayNightPinball">https://www.facebook.com/SeattleMondayNightPinball</a>). For specific questions
  to the board members, please send email to <a href="mailto:info@mondaynightpinball.com">info@mondaynightpinball.com</a>
</p>
