<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>League Rules for Monday Night Pinball</title>
  <style type="text/css">
    h1 {margin: 30.0px 20.0px 15.0px 10.0px; line-height: 31.0px; font: 26.7px Arial; color: #000000; -webkit-text-stroke: #000000}
    h2 {margin: 30.0px 20.0px 15.0px 10.0px; line-height: 24.0px; font: 21.3px Arial; color: #000000; -webkit-text-stroke: #000000}
    p {margin: 30.0px 20.0px 5.0px 10.0px; line-height: 17.0px; font: 14.7px Arial; color: #000000; -webkit-text-stroke: #000000}
    p.doc_title {margin: 0.0px 20.0px 0.0px 10.0px; text-align: center; line-height: 40.0px; font: 34.7px Arial; color: #000000; -webkit-text-stroke: #000000}
    p.last_updated {margin: 0.0px 20.0px 0.0px 10.0px; text-align: center; line-height: 17.0px; font: 14.7px Arial; color: #008800; -webkit-text-stroke: #008800}
    p.toc0 {margin: 5.0px 20.0px 5.0px 10.0px; line-height: 17.0px; font: 14.7px Arial; color: #0e24b2; -webkit-text-stroke: #0e24b2}
    p.toc1 {margin: 2.5px 20.0px 2.5px 24.0px; line-height: 17.0px; font: 14.7px Arial; color: #0e24b2; -webkit-text-stroke: #0e24b2}
    p.note {margin: 10.0px 20.0px 0.0px 10.0px; line-height: 17.0px; font: 14.7px Arial; color: #0000ff; -webkit-text-stroke: #0000ff}
    ul {margin: 10.0px 20.0px 5.0px 10.0px; list-style-position: inside;list-style-type: square;}
    li {margin: 5.0px 20.0px 5.0px 10.0px; line-height: 17.0px; font: 14.7px Arial; color: #000000; -webkit-text-stroke: #000000}
    li.indent0 {margin: 5.0px 20.0px 5.0px 36.0px; line-height: 17.0px; font: 14.7px Arial; color: #000000; -webkit-text-stroke: #000000}
    .newrule * {color: #008800; -webkit-text-stroke: #008800}
    .newrule {color: #008800; -webkit-text-stroke: #008800}
  </style>
</head>
<body>
<p class="doc_title">League Rules for Monday Night Pinball</p>
<p class="last_updated"><a href="#L0.04">V4.11</a> (Last updated: 2022-3-05 by Stephen Rakonza)</p>
<br>

<p class="toc0"><a href="#L0.00">L0.00 - Overview</a></p>
<p class="toc1"><a href="#L0.01">L0.01 - Summary</a></p>
<p class="toc1"><a href="#L0.02">L0.02 - MNP Mission</a></p>
<p class="toc1"><a href="#L0.03">L0.03 - MNP Scope</a></p>
<p class="toc1"><a href="#L0.04">L0.04 - Version History</a></p>
<p class="toc1"><a href="#L0.05">L0.05 - Terms</a></p>
<p class="toc1"><a href="#L0.06">L0.06 - Special COVID Rules - Fall 2021</a></p>
<p class="toc0"><a href="#L1.00">L1.00 - Venue</a></p>
<p class="toc1"><a href="#L1.01">L1.01 - Requirements</a></p>
<p class="toc1"><a href="#L1.02">L1.02 - League Worthiness of Machines</a></p>
<p class="toc1"><a href="#L1.03">L1.03 - New Venues</a></p>
<p class="toc0"><a href="#L2.00">L2.00 - Team</a></p>
<p class="toc1"><a href="#L2.01">L2.01 - Captains</a></p>
<p class="toc1"><a href="#L2.02">L2.02 - Roster</a></p>
<p class="toc1"><a href="#L2.03">L2.03 - Restrictions (Team IPR)</a></p>
<p class="toc1"><a href="#L2.04">L2.04 - Expansion Team</a></p>
<p class="toc0"><a href="#L3.00">L3.00 - Player</a></p>
<p class="toc1"><a href="#L3.01">L3.01 - Conduct and Boycotts</a></p>
<p class="toc1"><a href="#L3.02">L3.02 - Solo Players Looking for a Team</a></p>
<p class="toc0"><a href="#L4.00">L4.00 - Season</a></p>
<p class="toc1"><a href="#L4.01">L4.01 - Divisions</a></p>
<p class="toc1"><a href="#L4.02">L4.02 - Standings</a></p>
<p class="toc1"><a href="#L4.03">L4.03 - Playoff Seeding/Bracket</a></p>
<p class="toc0"><a href="#L5.00">L5.00 - Board of Directors</a></p>
<p class="toc1"><a href="#L5.01">L5.01 - General Commissioner</a></p>
<p class="toc1"><a href="#L5.02">L5.02 - Board Members</a></p>
<p class="toc1"><a href="#L5.03">L5.03 - General Commissioner's Term</a></p>
<p class="toc1"><a href="#L5.04">L5.04 - Interim General Commissioner</a></p>
<p class="toc1"><a href="#L5.05">L5.05 - Current Board of Directors</a></p>
<h1 id="L0.00">L0.00 - Overview</h1>
<h2 id="L0.01">L0.01 - Summary</h2>
<p>Seattle Monday Night Pinball (generally referred to as just MNP) is a
 co-ed adult (21+) team league where each team has a host venue (such as
 a barcade or any other venue that has pinball and serves alcohol), 
which serves as the team's "home." Once a week for the duration of the 
season, each team will compete against another team in their league, 
either at "home" or as the visiting team at their opponent's home venue.
 Each team will score match points based on the results of the 
individual pinball games. At the end of each match, the team with the 
most points will record a win, while the other team will record a loss; a
 match may also end in a tie, which will record a tie for each team.  
League standings are determined based on a simple win/loss/tie record 
with cumulative match points as the main tiebreaker.</p>
<h2 id="L0.02">L0.02 - MNP Mission</h2>
<p>The mission of Seattle Monday Night Pinball is to provide the 
logistics needed to run a team league that allows pinball enthusiasts 
from the Seattle metropolitan area to meet each other at the major 
pinball venues within the area, through structured matches that have 
teams compete against each other for friendly competition.</p>
<h2 id="L0.03">L0.03 - MNP Scope</h2>
<p>L0.03.0: MNP is about pinball and more specifically, the pinball 
league. ONLY Pinball. There have been some misconceptions that MNP is a 
large organization with influence among the various venues in the city. 
That is not the case. MNP is neither a non-profit organization nor a 
corporation. Rather, it is simply a group of players who form the MNP 
Board, and volunteer their time to produce and manage the logistics 
needed to make the league happen. This includes creating and managing 
rules, producing the schedule each season, maintaining the software, and
 ensuring adequate communication among all the captains and players to 
coordinate a distributed league.</p>

<p>L0.03.1: MNP is open to all players regardless of an individual’s 
gender bias, social beliefs, political affiliations, mental or physical 
disabilities, or background. The requirements to play are that a person 
is over 21 and interested in pinball.</p>

<p>L0.03.2: As such, MNP will not take a stand for or against any issue 
that isn’t directly related to pinball, even when called upon in social 
media. Generally those calls will go unanswered. Any individual that is a
 member of MNP is welcome to express their personal views publicly, but 
all such expressions remain the view of the individual and do not 
represent the views of MNP, because MNP is not an entity or organization
 and as such, does not possess views on any social or political issues. </p>

<p>L0.03.3: The one exception where MNP does take a stand is with 
regards to the safety of players on league night. Any player that 
harasses, threatens, assaults, or in any other way poses an active 
safety risk to other players does risk being suspended or banned from 
the league. Note that this applies directly to the individual’s conduct 
during league night and at the league’s pinball venues in general on 
other nights. MNP does not do background checks on members or venues, 
and as such cannot guarantee the safety of every person in the league. 
But if a safety issue is observed and a complaint is filed, then those 
issues will be reviewed by the board. MNP does not have the resources to
 investigate any such safety issues that happen outside the scope of the
 pinball venues served by MNP, and will not take any action against 
individuals accused if those individuals have not posed any threat or 
safety risk to MNP players. Rather, such issues should be addressed 
directly with venues or through the legal system for very serious 
matters. </p>

<p>L0.03.4: There has also been a misconception that MNP can tell venues
 what to do. MNP has no authority to impose any restrictions on venues. 
Furthermore, it is not MNP board that chooses a venue. Rather, captains 
and their team choose the venue. MNP simply approves the use if they 
meet the minimum league requirements such as number and quality of 
pinball machines and open hours.  If an individual or team has an issue 
with a venue, those issues should be taken up directly with the captain 
who selected the venue, or with management or ownership of that venue. 
MNP does not have the resources to serve as council, as the board does 
not include any lawyers nor experts to deal with such conflicts.</p>

<p>L0.03.5: By playing in the league, whether as a roster player or sub, you are agreeing to all official decisions and all rules as described herein and in the Match Rules. Failure to abide by the rules and decisions could lead to suspension or expulsion from the league. If the terms of the league are not agreeable, you should opt to not play in MNP.</p>

<p>L0.03.6: By choosing to be captain or co-captain, you are agreeing to enforce all official decisions and all rules as described herein and in the Match Rules. Failure to abide by the rules and decisions is a captain code-of-conduct violation and could lead to suspension or expulsion from the league. The lone exception is M5.01.1 for malfunction rulings only.</p>

<p>L0.03.7: Any issue brought to the MNP Board in writing (such as email or text directly to one or more board members) will be investigated. The MNP board will do what it can to understand all sides of any issue before issuing a decision, and will provide a decision that takes into consideration both majority opinion and what is best for the success of MNP.</p>

<p>L0.03.8: Captains who do not agree with a board decision have one appeal avenue. They may bring up their objection to the MNP Captains Group and create a poll. If captains representing more than half of the teams in the league disagree with the decision, the ruling will be reconsidered. Otherwise, the decision is final and players and captains are required to abide by such decisions or be subjected to code of conduct violations.</p>
<h2 id="L0.04">L0.04 - Version History</h2>
<ul>
  <li><b>2022-1-25 by Stephen Rakonza</b>: L0.03.5-8. Grandfather rule. Playoff clarification. Missing some of the changes, like clarified adherence to rules, clarified forfeit rules.</li>
  <li><b>2021-12-24 by Stephen Rakonza</b>: 4.10 Clarification on captain requirement; also new board members.</li>
  <li><b>2021-12-8 by Stephen Rakonza</b>: 4.09 Rewrite of Board of Directors section.</li>
  <li><b>2021-8-31 by Dave Stewart</b>: 4.08 Lots of minor edits and clarifications.</li>
  <li><b>2021-8-29 by Dave Stewart</b>: 4.07 Rewrite of Playoff Seeding/Bracket.</li>
  <li><b>2021-8-27 by Dave Stewart</b>: 4.06 Updated Summary, added Mission, Scope and Special Covid Rules. Many other updates related to removal of divisions.</li>
  <li><b>2021-7-22 by Stephen Rakonza</b>: 4.05 Updated MNP email address.</li>
  <li><b>2020-1-30 by Stephen Rakonza</b>: 4.04 Board of Directors section added, minor fixes and clarifications.</li>
  <li><b>2019-10-23 by Stephen Rakonza</b>: 4.03 No new content, just cleanup and simplify HTML.</li>
  <li><b>2019-10-14 by Stephen Rakonza</b>: 4.02 Fixed link to Match Rules.</li>
  <li><b>2019-08-22 by Stephen Rakonza</b>: 4.01 Minor changes, renumbered with L prefix, final proposed draft for Fall 2019 season.</li>
  <li><b>2019-07-25 by Stephen Rakonza</b>: 4.00 Initial version of 
separated League Rules. &nbsp;Nearly all League Rules come from a 
variety of existing sources (web site, previously combined MNP rules), 
Terms added.</li>
  <li><b>2018 by MNP Board</b>: 3.x &nbsp;Seasons 9-11, rewrite in Google Docs by MNP Board</li>
  <li><b>2014-08 by Geoff Simons &amp; Dave Stewart</b>: 2.x &nbsp;Season 2-8 HTML</li>
  <li><b>2014-01 by Geoff Simons &amp; Dave Stewart</b>: 1.0 &nbsp;Original Rules, Season 1</li>
</ul>
<h2 id="L0.05">L0.05 - Terms</h2>
<ul>
  <li><b>Bar: </b>See Venue. &nbsp;These terms are used interchangeably.</li>
  <li><b>Expansion Team: </b>A new team to the league, or an existing team with significant roster changes.</li>
  <li><b>Game: </b>A game is played on a machine (see Machine below).</li>
  <li><b>IPR: </b>Individual Player Rating is a numeric, whole number, 
value from 1 to 6. &nbsp;This number is a representation of a player’s 
pinball skill, over a period of time. &nbsp;Skilled players have a 
higher rating value. &nbsp;A player with no source data will have the 
lowest rating value of 1 <a href="http://pinballstats.info/search">http://pinballstats.info/search</a></li>
  <li><b>Location: </b>See Venue below</li>
  <li><b>Machine: </b>A machine is a physical pinball machine (NOT to be
 referred to as a game). &nbsp;A machine doesn’t have a score; a game 
has a score.</li>
  <li><b>Match: </b>A competition between two Monday Night Pinball teams, the details of which are outlined in <a href="https://www.mondaynightpinball.com/matchrules">Match Rules for Monday Night Pinball</a>.</li>
  <li><b>Member / Team Member: </b>A person registered with the league as a rostered member of a team.</li>
  <li><b>MNP: </b>Monday Night Pinball</li>
  <li><b>Player: </b>Within the context of a match: a player is a person
 designated to participate in the match. &nbsp;Outside the context of a 
match: a player is a person eligible to participate in a Monday Night 
Pinball match.</li>
  <li><b>Roster: </b>A team’s registered members.</li>
  <li><b>Round: </b>A match occurs as a series of 4 rounds: two singles rounds, two doubles rounds.</li>
  <li><b>Schedule: </b>A season’s published matches</li>
  <li><b>Sub / Substitute: </b>A person listed on a team’s lineup, but not currently on the team’s roster.</li>
  <li><b>Team Rating: </b>The sum of each roster player’s IPR. &nbsp;In the context of a match - the sum of each player’s IPR on the lineup.</li>
  <li><b>Tournament: </b>IFPA Rules apply within the context of a 
tournament. &nbsp;For the purposes of MNP Rules, the word “Tournament” 
shall be treated as a synonym for “Match”.</li>
  <li><b>Tournament Director (TD): </b>IFPA Rules apply within the 
context of a tournament. &nbsp;TD in an MNP Match are the Captains or 
one of the MNP Commissioners helping with a match ruling.</li>
  <li><b>Venue: </b>A location, meeting all of the league’s requirements to host an MNP match.</li>
</ul>
<h2 id="L0.06">L0.06 - Special COVID Rules - Spring 2022</h2>
<p>L0.06.0: MNP is not imposing any special COVID rules for Spring 2022. Every
  match takes place at a venue, all players are required to follow whatever
  COVID-related protocols are in force at that venue on that night. It is
  assumed that at a minimum, the venue is adhering to any local, county, or
  state mandates. If they are not, you can submit a complaint about the venue
  directly to the appropriate governing agency. Individuals who continue to
  have concerns about COVID transmission and are not comfortable in a
  particular venue have the option to sit out that night or for the season.
</p>
<h1 id="L1.00">L1.00 - Venue</h1>
<p>L1.00.0: Each team in the league has a home venue. The venue must meet the requirements listed in this section.</p>
<h2 id="L1.01">L1.01 - Requirements</h2>
<ul>
    <li>L1.01.0: Venue must have a minimum of 8 machines in league-worthy condition. See information below on description of <a href="#L1.02">league-worthy</a>.</li>
  <li>L1.01.1: A venue may host no more than two teams.</li>
  <li>L1.01.2: A venue may only host one team in their first season, be it an expansion team or an existing team relocating.</li>
  <li>L1.01.3: A newly opening venue must already be open by the 
application deadline date. If not, the expansion team request needs to 
be for an alternate location that is capable of hosting the team, but 
they can specify their interest to move to the new location when it 
opens.</li>
  <li>L1.01.4: The pinball area at the venue must be big enough to accommodate at least 24 players (20 players plus a few guests).</li>
  <li>L1.01.5: No cover charge for venue. Players are expected to pay 
for play, but should not need to pay anything beyond that. An exception 
is if cover charge is $5 or less per person and all machines are on free
 play, on both league nights and when players go to practice.</li>
  <li>L1.01.6: Venue must sell at least beer or wine (i.e. must have liquor license). This is a barcade league, not a family league!</li>
  <li>L1.01.7: Venue must be open (or willing to stay open) until at 
least midnight on league nights. If they normally close before midnight,
 they must be willing to stay open on league nights until the end of the
 match.</li>
</ul>
<h2 id="L1.02">L1.02 - League Worthiness of Machines</h2>
<p>L1.02.0: A machine is league-worthy if it meets the following criteria:</p>
<ul>
  <li>L1.02.0a: Machine is primarily pinball. A machine with a video 
mode is OK, but a machine in which more than 10% of the time is in video
 mode, or for which you can lose your turn by losing video mode instead 
of draining a ball, are not eligible.</li>
  <li>L1.02.0b: All switches are registering (it’s ok if one switch is 
not registering but is not crucial to game play that nobody really 
complains about it). Shots or features not working but have suitable 
compensation enabled (like disabling claw in Demolition Man) is 
acceptable.</li>
  <li>L1.02.0c: Lower flippers are strong enough to hit every shot, even
 after the machine has been in constant use for 30 minutes. Upper 
flippers are strong enough to make crucial shots (a broken upper flipper
 on some games like Mars Trek is acceptable, but on most games it 
isn’t).</li>
  <li>L1.02.0d: Most (preferably all) lights are working. Key lights are all working.</li>
  <li>L1.02.0e: Playfield is reasonably clean, and doesn’t have a year of grime build-up.</li>
  <li>L1.02.0f: Balls rarely get stuck.</li>
  <li>L1.02.0g: Machine does not regularly glitch, such as resetting 
mid-game, ending balls prematurely, creating arbitrary multi-balls or 
not serving multiple balls during multi-ball, etc. A machine that does 
this rarely (e.g. at most once a day) is ok; if it happens in that case,
 malfunction rules apply. If it’s happening more frequently, the machine
 is not league worthy.</li>
</ul>
<h2 id="L1.03">L1.03 - New Venues</h2>
<p>L1.03.0: A new venue will be evaluated for possible play upon request
 to the MNP Board. A board member will visit the venue and approve if it
 meets the Venue requirements.</p>

<p>L1.03.1: Once a venue is approved, a team can list that venue as 
their choice for home venue six weeks prior to a season. That venue can 
also be used as a backup location if an existing venue fails to have at 
least five working machines.</p>

<p>L1.03.2: If a new venue is not yet open six weeks prior to start of 
season, then the team must pick a different venue as their home, and 
make a request to move to the new venue once it is approved. If such a 
request is not made prior to the season start, then the team will need 
to wait until the following season to move to that venue.</p>
<h1 id="L2.00">L2.00 - Team</h1>
<p>L2.00.0: Teams consist of at least 8 roster players, and no more than
 10. &nbsp;Of these, one player will act as the Team Captain. A second 
player must be named as a co-captain. A team can hold up to two unfilled
 positions and use subs until a suitable new roster player is found.</p>

<p>L2.00.1: The team must have a designated venue, which shall host the 
“home” matches. &nbsp;At least six weeks prior to start of a season, per
 published deadlines, both returning teams and expansion teams must 
declare their home venue. Exception: A team that
had a home venue, but venue closed or no longer league suitable, can play
the remainder of the current season and through the end of the following
season before finding a new home venue. While a team has no home venue,
M1.01 (see <a href="https://www.mondaynightpinball.com/matchrules#M1.01">Match Rules for Monday Night Pinball</a>) shall
apply for selecting an alternate venue.</p>

<h2 id="L2.01">L2.01 - Captains</h2>
<p>L2.01.0: The team’s Captain and Co-Captain are collectively referred 
to as the team’s Captains. &nbsp;Captains are responsible for organizing
 their team and corresponding promptly with the league about rosters, 
scoring and scheduling. Captains also serve as team representatives in 
each of the matches.</p>

<p>L2.01.1: The captains must meet the following requirements.</p>
<ul>
  <li>L2.01.1a: Captain and co-captain must each have already played in at least one full season in MNP.</li>
  <li>L2.01.1b: Captains and co-captains should have a Facebook account,
 and must be part of the Facebook Monday Night Pinball Captains group, 
as that is how communication with captains from the league occurs. 
Alternately, a captain may designate a proxy with a Facebook account, to
 handle correspondence with league officials. &nbsp;Captains without a 
Facebook account must supply the MNP Board with a contact email address 
and a phone number where they can accept text messages.</li>
  <li>L2.01.1c: A captain or co-captain cannot be on probation from a code-of-conduct violation.</li>
</ul>
<p>L2.01.2: Captains must be declared for each team prior to season, as 
they are given access to Facebook Captains group to help coordinate the 
season, and special software access for league nights.</p>

<p>L2.01.3: If neither captain can attend league night, a substitute 
captain must be declared. It should be a roster player with at least one
 full season played. If there is no such player, then the player with 
the most experience should be named. Whoever is named should touch base 
with the opposing team captain prior to the match for a quick tutorial 
on using the software. Notification, must be declared at 
least a day ahead of the match, and the board included to enable them
access to software.</p>

<p>L2.01.4: Mid-season changes in captains, or a temporary substitute 
captain, need to be made at least 48 hours prior to the match to the 
Board, so that appropriate software permissions can be put into place 
for league night software.</p>
<h2 id="L2.02">L2.02 - Roster</h2>
<p>L2.02.0: The names of each player on the team must be submitted by 
the captain to league officials six weeks prior to the start of each 
season.</p>

<p>L2.02.1: Roster changes may be made at anytime throughout the season.
 Roster changes must be made more than 24 hours before a match; 
otherwise players involved will fall under the substitution rules. 
&nbsp;Roster changes made within 24 hours, will be applied after the 
match.</p>
<h2 id="L2.03">L2.03 - Restrictions (Team IPR)</h2>
<p>L2.03.0: In an effort to maintain competitiveness throughout the 
league, team restrictions are used to prevent a team from loading up 
with too many top players, and helping distribute the top players to 
different teams across the league. For roster members, team restrictions
 are reconsidered each time there is a roster change. The new roster 
cannot violate the team restrictions, otherwise the change is not 
approved by the league.</p>

<p>L2.03.1: Following are the details of the team restrictions.</p>
<ul>
  <li>L2.03.1a: Individual Player Rating (IPR) is a rating of 1 (novice)
 to 6 (very strong) for each player, which is computed based on their<a href="https://www.ifpapinball.com/players/find.php"> IFPA World Ranking (IFPA Rank)</a>&nbsp;and <a href="https://matchplay.events/live/ratings">Matchplay.events Rating (MBR)</a></li>
  <li>L2.03.1b: The distribution of IPR for all players in the league is
 on a curve. &nbsp;1 is a novice player; 2 is below the median, 3 
through 6 are above the median. &nbsp;Bottom 30% of eligible players 
receive an IPR of ‘1’; the top 5% of players are assigned a 6 - this 
applies to the players who are ranked in (or close to) the IFPA top 500 
worldwide, or who have a rating on par with those worldwide rankings. 
&nbsp;The curve is re-evaluated at each IPR freeze, to retain the 
specified percentiles despite roster changes that may happen throughout 
the season.</li>
  <li>L2.03.1c: The IPR data will be recomputed three times each season.
At the start of each season, approximate dates
 of the updates will be announced by the board; the board reserves the right
 to update when or if an update is performed. When recomputed, the
 IPRs then become fixed for each player until the next
 recomputation. This enables teams to plan ahead for substitutes and
 roster changes and not have to worry about an IPR changing the night of
 an event because of newly reported data. The approximate “freeze” dates
 will be posted on the home page each season, and will occur 
approximately one week before week 1, once mid-season, and once just 
before playoffs. Special ruling Fall 2021 only: IPR will be frozen using
 data from January 2020. It will only be updated once prior to playoffs.</li>
  <li>L2.03.1d: The IPR data displayed on the website is stored in a back-end <i>MNP Ratings Spreadsheet</i>,
 not directly accessible to the public, but available for review by 
Captains and the Board of Directors should the need arise. &nbsp;The 
computed IPRs are included throughout the website alongside player 
names, and available in a player search website for access by the 
public.</li>
  <li>L2.03.1e: The spreadsheet includes the MNP Ratings for every 
roster player. The spreadsheet also includes players who may not 
currently be on a team roster, but who have been a sub or played as a 
roster member for the league in the past.</li>
  <li>L2.03.1f: The algorithm for converting from IFPA Rank and MPR to an IPR is provided in the RP Method tab of the spreadsheet.</li>
  <li>L2.03.1g: Team Rating is the sum of IPR for all roster players on a team, as shown on the Teams tab of the spreadsheet.</li>
  <li>L2.03.1h: Team Rating Cap is the Team Rating value at which a team
 is constrained and is used to determine which players they can add to 
the roster or as subs. The team rating cap starting Fall 2021 is 36 for 
10 players, 35 for 9 players, 34 for 8 players.</li>
  <li>L2.03.1i: A team cannot add a new player with Individual Player 
Rating (IPR) of 2 or higher as a sub or roster member, if it would cause
 the team rating to exceed a cap (see above rule L2.03.1h). &nbsp;A team
 at or above the cap can only add novice/new players (IPR 1) to their 
roster.</li>
  <li>L2.03.1j: For a player that plays regularly but new to MNP, use 
the following tool to determine a player's rating: PLAYER LOOKUP on MNP 
Home Page.</li>
  <li>L2.03.1k: New players with no rating and no IFPA record are given an IPR of 1.</li>
  <li>L2.03.1l: If a captain is uncertain of a player's IPR using the 
methods above, and it could affect whether or not a particular sub or 
roster player can be used, then contact the Rules Commissioner to obtain
 a ruling on that player's eligibility.</li>
  <li>L2.03.1m: A team cannot add a roster player with IPR=6 if there is already one player with IPR=6 on the roster.</li>
  <li>L2.03.1n: A team cannot add a substitute player with IPR=6 if there is already a player with IPR=6 in the match’s lineup.</li>
  <li>L2.03.1o: Note that rating data will never be perfect. However, it
 is the best we have to keep a balance and prevent the creation of a 
super-team that can never lose.</li>
  <li>L2.03.1o.0: The Team Restrictions are also in place to encourage 
strong teams to add novice players to their rosters. More 
experienced/stronger players then become role models and coaches for 
players who are just starting to learn.</li>
  <li>L2.03.1o.1: League officials reserve the right to assign an IPR to
 a player higher or lower than what is computed, if it can be shown that
 due to insufficient or erroneous data, a player's IPR as shown in the 
spreadsheet or with the calculator is incorrect by at least 2. If it's 
an off-by-one issue, then the value in the ratings spreadsheet or 
calculator will be used. +/- 1 manual corrections will not be made.</li>
 <li>L2.03.1p: Players who suppress themselves in IFPA rankings, or 
  intentionally attempt to evade pinball ranking systems of matchplay
  or IFPA through use of different or inconsistent names, will
  be assigned an IPR of 6, and treated as a top-ranked player.</li>
</ul>

<p>L2.03.2: A team is considered an IPR Grandfathered team if the Team IPR of the roster players exceed the Team Cap. This occurs as a side effect of re-computing the IPR with some of the roster players improving their IPR. A team will not forcibly be split-up if they go above the Team Cap, but they do become subjected to additional rules to keep the team in-tact, as defined here. These rules have been informally known as the IPR Grandfathering rules.</p>

<ul>
<li>L2.03.2a: If a team is IPR-Grandfathered at the start of a season, then roster players who do not play at least 2 of the first 5 matches for that team, must be dropped from the roster after Week 5. They can still play as a sub or rejoin the roster when doing so would have the team remain at or below the team cap.</li>
<li>L2.03.2b: If a team is IPR-Grandfathered at the start of a season, then roster players who do not play at least 5 of the team’s 10 regular season matches must be dropped from the roster prior to the start of the Playoffs. They can still play as a sub if the playoffs if doing so would have the team remain at or below the team cap (such as if a top player with IPR=6 is missing, they might be able to accommodate that dropped player as a sub).</li>
<li>L2.03.2c: If a team was not IPR-Grandfathered at the start of the season, but becomes grandfathered midway through the season, the roster members who do not play at least 2 of the team’s last 5 regular season matches must be dropped from the roster prior to playoffs.</li>
<li>L2.03.2d: If a team becomes IPR-Grandfathered at an update occurring immediately before playoffs, that will be treated the same as becoming IPR-Grandfathered at the start of the season. There is no minimum play requirement during playoff rounds.</li>
<li>L2.03.2e: If an IPR refresh causes an IPR-Grandfathered team, to no longer require the grandfather rule (because team IPR drops, or a previous IPR 6 becomes IPR <6), the grandfathering requirements are removed.</li>
<li>L2.03.3: A team is considered an IPR6-Grandfathered team if two or more players have IPR=6, but the team is at or below the Team Cap. In this case, rules L2.03.2a, L2.03.2b, L2.03.2c, and L2.03.2d apply, but only to those players with IPR=6.</li>
<li>L2.03.4: If a player on an IPR-Grandfathered team, or an IPR=6 player on an IPR6-Grandfathered team is suspended for a portion of the season, then their play eligibility is 50% or more of the regularly season matches for which they were not suspended.  If a player was suspended for 8 or more matches, then they can remain on the roster into the start of the next season. Any such player who is suspended 15 or more consecutive matches must be dropped from any Grandfathered team, and can rejoin only after their suspension is lifted, if they don’t violate the rules of adding a new player to the roster.</li>
</ul>

<h2 id="L2.04">L2.04 - Expansion Team</h2>
<p>L2.04.0: A new team may apply for acceptance into the league, and 
must meet the requirements listed in this document. Deadline to apply is
 approximately six weeks before season starts; the date will be 
published on the website prior to each season. An existing team that is 
requesting a move to a new location must also meet the venue 
requirements listed in this document, and must apply for the change by 
the same expansion team deadline date.</p>

<p>L2.04.1: The spots are limited, and MNP will not necessarily wait for
 everyone to apply; thus even though a deadline date is specified, 
applying early does increase the chances of earning one of the expansion
 slots. If there are not sufficient qualified teams applying by the 
deadline date, the league may choose to not expand.</p>

<p>L2.04.2: The proposed captain or co-captain for a new team is 
responsible for submitting the team expansion application, and 
individual players interested in the team are responsible for 
individually signing up. Provide as much advance notice as possible to 
one of the board members of your intent to create a team. This will 
allow the board to inform you of any upcoming changes or concerns that 
can affect your expansion application.</p>

<p>L2.04.3: The application is to be emailed by the proposed captain to <a href="mailto:seattlemnp@gmail.com">seattlemnp@gmail.com</a>, and must include the following:</p>
<ul>
  <li>Proposed Home Venue</li>
  <li>Proposed Team Name</li>
  <li>Names of Captain and Co-Captain</li>
  <li>Names of at least 6 (up to 8) other COMMITTED players (see below)</li>
  <li>Name and contact info of the venue owner or operator who is approving the team at their venue.</li>
</ul>
<p>L2.04.4: In order for each player to show they are committed to the new team, they should <a href="https://www.mondaynightpinball.com/signup">SIGN UP</a>&nbsp;to
 confirm their interest, indicating the proposed new team as their first
 (and optionally only) choice. If the person is moving from another 
team, and would like to retain the spot on the other team if there is no
 expansion team, they should list that team as their second choice.</p>

<p>L2.04.5: Proposed Captains and Co-Captains should also request to join the <a href="https://www.facebook.com/groups/280092795481317/">MNP Captain's Facebook Group</a>&nbsp;as Facebook messaging and Groups is the primary means for keeping in touch with captains.</p>
<h1 id="L3.00">L3.00 - Player</h1>
<p>L3.00.0: A person may substitute, or become a roster member for any 
team, at any time throughout the season, with the following 
restrictions.</p>
<ul>
  <li>L3.00.0a: the person played fewer than 6 matches with a single 
other team. &nbsp;A player that has played 6 or more matches with a 
team, the player is ‘locked’ into that team for the playoffs.</li>
  <li>L3.00.0b: the person is not listed on the roster of any other league team.</li>
  <li>L3.00.0c: the person is not a minor (must be 21 by the date of the team’s next match).</li>
  <li>L3.00.0d: the person is not suspended from the league.</li>
  <li>L3.00.0e: the person is not expelled or banned from the league.</li>
  <li>L3.00.0f: the person is not banned from participating in pinball 
events by another organization (such as IFPA, PAPA, NWPAS, NWPC); the 
MNP Board will make a determination on whether a banned player is 
allowed in the league.</li>
</ul>
<p>L3.00.1: A player banned from one or more venues may still play in 
MNP, but will require a sub for any matches scheduled at a venue to 
which the player is banned. &nbsp;Furthermore, a player may not play as a
 roster member nor as a sub, for a team that has a home venue to which 
the player is banned.</p>
<h2 id="L3.01">L3.01 - Conduct and Boycotts</h2>
<p>L3.01.0: There is a conduct section in the <a href="https://www.mondaynightpinball.com/matchrules">Match Rules for Monday Night Pinball</a>&nbsp;(M6.00
 - Player Conduct). &nbsp;The player conduct described there should be 
honored any time playing at a Monday Night Pinball venue.</p>

<p>L3.01.1: Forfeit rules are in place for extraordinary 
  situations where a team makes every effort to field a team, but cannot.
  A forfeit for any reason that is related to the opposing player(s),
  venue, or team, is considered a boycott. Any coordination among two or
  more teams to take the same forfeit action is considered a boycott.
  Any captain or player who encourages other teams to boycott may also be 
  subjected to penalty, even if their team does not play the team or venue 
  they recommend boycotting. We do respect that captains and teams may have
  grievances against other venues. Those teams are encouraged to find 
  alternate means of demonstrating their dissatisfaction that does not affect
  the rights of the players on the opposing team or the league. For 
  grievances against individuals on the opposing team, those need to be brought 
  up to the MNP Board. The board will review, and take action if necessary. Their 
  decision is final and binding. Failure to abide by such decisions will incur
  a penalty.</p>

<h2 id="L3.02">L3.02 - Solo Players Looking for a Team</h2>
<p>L3.02.0: Players who are interested in joining a team, whether it be 
an existing team with new openings, or a new expansion team, should <a href="https://www.mondaynightpinball.com/signup">SIGN UP</a>&nbsp;to
 indicate their interest, or by sending a message to a league official 
personally confirming their interest. League officials can be reached 
via email: <a href="mailto:seattlemnp@gmail.com">seattlemnp@gmail.com</a>.
 Up to three teams or venues can be listed in order of preference. Also 
feel free to list areas instead of teams, like “South of City” or 
“Ballard”. Players will be contacted by team captains or league 
officials based on availability of spots. Ultimately it is a team’s 
captain decision, not a league decision, on any player joining a 
specific team.</p>
<h1 id="L4.00">L4.00 - Season</h1>
<p>L4.00.0: The regular season consists of 10 weeks of play. &nbsp;There
 is a fall season, beginning roughly around the beginning of September, 
and ending with playoffs in early December. &nbsp;There is a spring 
season, beginning roughly end of January, and ending with playoffs in 
May.</p>
<ul>
  <li>L4.00.0a: Roughly half of matches will be at the team's home venue. The remaining will be away.</li>
  <li>L4.00.0b: The full schedule will be created and distributed prior to the start of the season.</li>
  <li>L4.00.0c: Number of teams, conference organization, and 
distribution of matches may change from season to season, depending on 
the number and venue of teams that season.</li>
</ul>
<p>L4.00.1: The typical season schedule is the following:</p>
<ul>
  <li>L4.00.1a: About six weeks prior to season, deadline for teams to 
apply for next season (includes both returning and expansion teams)</li>
  <li>L4.00.1b: About 3 weeks prior to season, draft schedule published for captains only</li>
  <li>L4.00.1c: About 2 weeks prior to season, final schedule published and distributed</li>
  <li>L4.00.1d: Week 1 is typically Monday after Labor Day in Fall, and late January in Spring.</li>
  <li>L4.00.1e: 10 regular season weeks</li>
  <li>L4.00.1f: 4 Playoff weeks.</li>
  <li>L4.00.1g: 1 week after Playoff week reserved for makeup</li>
</ul>
<p>L4.00:2: If a week is canceled for any reason (eg weather), then all 
regular scheduled weeks continue on date per schedule. The canceled week
 will be played as week 11, and playoffs pushed one week, with finals 
now on that makeup date.</p>

<h2 id="L4.01">L4.01 - Divisions</h2>
<p>Starting Fall 2021, the league will no longer have teams in divisions.</p>
<h2 id="L4.02">L4.02 - Standings</h2>
<p>L4.02.0: League standings are maintained based on win/loss/tie 
record, with cumulative match points recorded as the first tiebreaker. A
 tie is worth half the value of a win.</p>

<p class="note">NOTE: Since match points earned is used to break ties, 
it is important to play every game during match play. Do not end a match
 early simply because one team has earned enough points to record a 
match win.</p>

<p>L4.02.1: At the end of the regular season, if two teams have the same
 record and same number of match points, then their head-to-head result 
will be considered to break the tie. If they did not play each other, 
their record vs common opponents will be used to break the tie. If still
 tied, their points vs common opponents is used. If still tied, the 
league will flip a coin.</p>
<h2 id="L4.03">L4.03 - Playoff Seeding/Bracket</h2>
<p>L4.03.0: The MNP Playoffs will declare two winners, an overall Grand 
Champion, and a B Bracket winner. The B Bracket (also referred to as 
simply B) is made up of 4 of the teams who do not advance past the first
 round of the playoffs (see L4.03.5).  All teams that do advance beyond 
the first round is referred to as the A Bracket (see L4.03.4).</p>

<p>L4.03.1: The two MNP groups (Y and Z) are ranked separately primarily due to teams in the same group sharing the majority of same opponents. Teams in the other group have an entirely different set of opponents.</p>
<ul>
<li>L4.30.1a: With 20 to 24 total teams, the top 6 teams in each group move on to a combined playoffs, with top two MNP group winners getting a first round Bye.</li>
<li>L4.30.1b: With 25 27 to 30 total teams, the top 7 teams in each group move on to a combined playoffs, with each MNP group winner getting a first round Bye.</li>
<li>L4.30.1c: With 31 or more total teams, the top 8 teams in each group move on to a combined playoffs. There are no ‘bye’ teams.</li>
<li>L4.30.1d: Teams that receive a bye are not eligible for the B Bracket, as their bye advances them beyond the first round.</li>
</ul>

<p>L4.03.2: Playoffs consist of four weeks of play.  Week 1 is Bracket
Round. Week 2 will have the A Quarter Finals and B Semi Finals. Week 3
will have the A Semi Finals and B Finals. Week four will be the A
Finals.</p>

<p> L4.03.3: Seeding of teams is as follows</p>
<ul>
<li>L4.03.3a: The team with best record overall and winner of their group is Seed #1 within their group for purposes of Round 1, and Seed #1 overall for all other A rounds.</li>
<li>L4.03.3b: The team with best record in the other group is Seed #1 within their group for purposes of Round 1, and Seed #2 overall for all other A rounds. If the overall seed #1 is eliminated, then this team becomes Seed #1 for all other A rounds.</li>
<li>L4.03.3c: The remaining teams have seeds sorted by their record (WLT first, then total points earned as tie-breaker). In Round 1, the seeding is done within the group only. In Round 2, the seeding is done overall by combining the records of the two groups.</li>
<li>L4.03.3d: The seeding for B Semi Finals and Finals is NOT based on WLT record, but rather based on average Team IPR during the season, with lowest average Team IPR getting the highest seed.</li>
<li>L4.03.3e: Bracket Round starts with cross division play. Calling “Y2” Group Y 2nd Place, for example. In all cases, the team with the higher seed is the home team.</li>
<li>L4.03.3e-1: With 20 to 24 players and two teams in each group getting a bye, the seeding is Y3-Z6, Y4-Z5, Y5-Z4, Y6-Z3.</li>
<li>L4.03.3e-2: With 25-30 players and one team in each group getting a bye, the seeding is Y2-Z7, Y3-Z6, Y4-Z5, Y5-Z4, Y6-Z3, Y7-Z2.</li>
<li>L4.03.3e-3: With 31 or more players and no byes, the seeding is Y1-Z8, Y2-Z7, Y3-Z6, Y4-Z5, Y5-Z4, Y6-Z3, Y7-Z2, Y8-Z1.</li>
</ul>

<p>L4.03.4: The A Quarter Finals will consist of the teams that received
a Bye (if any), and the winners of Bracket Round. The 8 teams are seeded
per L4.03.3, then pairings are 1st Seed vs 8th Seed, 2nd Seed vs 7th Seed,
3rd Seed vs 6th Seed, and 4th Seed vs 5th Seed. The teams seeded 1st
through 4th are the home teams.</p>

<p>L4.03.5: With 25 or more teams, the B Semi Finals will consist of four of
the six teams losing in the Bracket Round. The four teams selected to play
will be the four teams with the lowest average team IPR throughout the
season. For this B Semi Finals, seeding will be done by lowest average
season team IPR, such that the lowest value gets highest seed, second
lowest gets the second seed, and so on. Pairings will be 1st Seed vs 4th
Seed and 2nd Seed vs 3rd Seed. The teams seeded 1st and 2nd are the home
teams.</p>

<ul>
  <li>L4.03.5a With 24 or less teams, there will be no B Semi Finals, only a B
finals. The B finals will consist of two of the losing teams in the Bracket
round. The two teams selected to play will be the teams with the lowest
average team IPR throughout the season. The one with the lowest team IPR is
top seed.</li>
</ul>

<p>L4.03.6: The A Semi Finals will consist of the four winning quarter 
finalists. Again teams will be seeded by their regular season record. 
The pairings are 1st vs 4th, and 2nd vs 3rd. Teams seeded 1st and 2nd 
are the home teams.</p>

<p>L4.03.7: With 25 or more teams, The B Finals will consist of the two
winning teams from the B Semi Finals. The team with the lowest average
season team IPR is the home team.</p>

<p>L4.03.8: The A Finals night will consist of all four teams that 
played in the Semi Finals. The two winners play each other for the 
league championship. The other two teams play each other to determine 
3rd and 4th place. </p>

<p>L4.03.9 The A Finals night is held at an independent location that is
 not home team for any of the four finalists. For purposes of what team 
selects 1st or 2nd, the team with the better record in each finals match
 will be considered the home team, even though the venue is not their 
home venue. </p>

<p>L4.03.10: The neutral venue for finals is selected by the MNP board 
using the following rules, if a single venue is used for both finals 
matches: </p>
<ul>
  <li>L4.03.10a: The venue is selected upon completion of the quarter 
final round, when semi-finalists (final four) in each division are 
known.</li>
  <li>L4.03.10b: Only venues that have 15 or more league-worthy machines and ability to support more than 40 players are considered.</li>
  <li>L4.03.10c: The venue must have hosted all home games for least one
 home team during that season, and never had a match moved to an 
alternate venue due to machine league-worthiness issues.</li>
  <li>L4.03.10d: The venues who have least recently hosted one of the finals will be given top priority.</li>
  <li>L4.03.10e: The venue owner is asked and must agree to host the 
finals, or that venue is moved back to the bottom of the priority list.</li>
  <li>L4.03.10f: A venue that has a team in semi-finals of each division will be skipped.</li>
  <li>L4.03.10g: A venue with team in one division can be a neutral venue for the other division.</li>
  <li>L4.03.10h: *Special Fall 2021 rule only: if it is decided to host 
finals in two separate venues, the two matches will be randomly selected
 from a list of venues that excludes any of the four finals teams and 
any venue that has hosted a finals previously. The season will leverage 
this as an opportunity to provide smaller venues the choice to host. As 
with selection of neutral venue above, a randomly selected venue must 
agree to host or a different venue will be selected.</li>
</ul>
<p>L4.03.11: Based on the above rules, the MNP board identifies the two 
neutral venues for the finals. The MNP board shall make the choice 
whenever two venues are 'tied' for highest priority (such as they both 
hosted 3 seasons ago, so in theory after equal priority from the 
perspective of how long ago they hosted).</p>

<p>L4.03.12: The final four A teams and final two B teams receive MNP 
trophies to hold onto for a season. The trophies must be returned at the
 start of playoffs of the next season for redistribution. If a team 
wants something to keep to memorialize a win, they are welcome to create
 their own trophy or plaque for more permanent display at their home 
venue. Funds for that must come from the team players or the venue.</p>
<h1 id="L5.00">L5.00 - Board of Directors</h1>
<div>
<p>L5.00.0: The MNP Board is made up of the General Commissioner, and a number of Board Members.</p>
<h2 id="L5.01">L5.01 - General Commissioner</h2>
<p>L5.01.0: The MNP Board is led by the General Commissioner. It is the 
responsibility of the General Commissioner to ensure the league 
continues to occur twice a year, with a Spring and Fall season.</p>

<p>L5.01.1: General Commissioner Requirements</p>
<ul>
  <li>L5.01.0a: Must have 2 full seasons of experience team captain; or 1 full year as Board Member.</li>
  <li>L5.01.0b: Must not serve as team captain at the same time as General Commissioner.</li>
</ul>
<h2 id="L5.02">L5.02 - Board Members</h2>
<p>L5.02.0: Board Members are selected by the General Commissioner, in 
order to create a functional board to handle all aspects of the league, 
including logistics, operations, judgements, rule changes, marketing, 
disciplinary action, and any other duties or tasks.</p>

<p>L5.02.1: There is no minimum nor maximum number of members defined; 
it is up to the General Commissioner to select the most effective 
collection of volunteers to serve as the board.</p>

<p>L5.02.2: The General Commissioner can add or remove Board Members at will.</p>
<h2 id="L5.03">L5.03 - General Commissioner's Term</h2>
<p>L5.03.0: The General Commissioner's term is indefinite, however can be terminated through any of the following actions:</p>
<ul>
  <li>L5.03.0a: The General Commissioner voluntarily steps down</li>
  <li>L5.03.0b: The active Board Members vote of non-confidence in the General Commissioner.</li>
  <li>L5.03.0c: The Team Captains vote of non-confidence in the General Commissioner.</li>
</ul>
<p>L5.03.1: Voluntary Step Down</p>
<ul>
  <li>L5.03.1a: The General Commissioner appoints an Interim General Commissioner.</li>
</ul>
<p>L5.03.2: Non-confidence vote by Board Members</p>
<ul>
  <li>L5.03.2a: Non-confidence vote by active Board Members (excluding the General Commissioner) must be unanimous.</li>
  <li>L5.03.2b: The General Commissioner is removed immediately.</li>
  <li>L5.03.2c: The Board Members are responsible for appointing an Interim General Commissioner.</li>
</ul>
<p>L5.03.3: Non-confidence vote by Team Captains</p>
<ul>
  <li>L5.03.3a: A captain, meeting the requirements to become General Commissioner, may initiate the non-confidence process.</li>
  <li>L5.03.3b: A captain must initiate the non-confidence process on the Captain's group (currently hosted on Facebook).</li>
  <li>L5.03.3c: The non-confidence process must include at least 3 days 
of discussion within the Captain's group, before a vote can take place.</li>
  <li>L5.03.3d: Any captain or board member, including the General 
Commissioner, may post or respond in favor or against the proposed vote.</li>
  <li>L5.03.3e: After the discussion period, a vote will take place within the Captain's group.</li>
  <li>L5.03.3f: Captains and Co-captains vote.</li>
  <li>L5.03.3g: Each team gets one vote.</li>
  <li>L5.03.3h: A NO vote is a vote to retain the General Commissioner.</li>
  <li>L5.03.3i: A YES vote is a vote of non-confidence in the General Commissioner.</li>
  <li>L5.03.3j: If a single captain votes, that counts as a vote for the team.</li>
  <li>L5.03.3k: If both captains vote the same way, it is counted as a single vote.</li>
  <li>L5.03.3l: If both captains vote, but opposite to each other, it will count as an abstain.</li>  
  <li>L5.03.3m: A team that abstains, counts as a NO vote.</li>  
  <li>L5.03.3n: If 51% or more of all teams vote to remove the General 
Commissioner, then the General Commissioner is removed immediately.  If 
the league consists of 30 teams, 16 or more teams must vote YES to 
remove.</li>
  <li>L5.03.3o: Upon removal, the captain who initiated the non-confidence process, becomes appointed Interim General Commissioner.</li>
</ul>
<h2 id="L5.04">L5.04 - Interim General Commissioner</h2>
<p>L5.04.0: Only a person eligible to serve as General Commissioner, may be appointed as Interim General Commissioner.</p>

<p>L5.04.1: If an Interim General Commissioner is appointed with enough 
time prior to the start of the season, the Interim Commissioner has one 
month to define the method that will be used to find a permanent 
replacement, and two months for the permanent replacement to be named 
and begin their role. That permanent replacement could be themselves.</p>

<p>L5.04.2: If an Interim General Commissioner is appointed mid-season, 
the Interim General Commissioner immediately takes over league 
operations and the board, and change board members as desired per L5.02.</p>
<ul>
  <li>L5.04.2a: At the conclusion of the season, the Interim General Commissioner follows the process outlined in L5.04.1.</li>
</ul>
<p>L5.04.3: An Interim General Commissioner may step down, or be replaced, according to the same rules as a General Commissioner.</p>
</div>
<h2 id="L5.05">L5.05 - Current Board of Directors</h2>
<p>L5.05.0: Current Commissioners are the following:</p>
<ul>
  <li>Dave Stewart, General Commissioner</li>
  <li>Michael Adcock, Commissioner of Information Architecture</li>
  <li>Stephen Rakonza, Commissioner of Rules and Regulations</li>
  <li>Steph Hanlon, Special Advisor</li>
  <li>Glenden Hoyt, Special Advisor</li>
  <li>Robbie Finnigan, Special Advisor</li>
</ul>
<p>L5.05.1: Contact info: <a href="mailto:seattlemnp@gmail.com">seattlemnp@gmail.com</a>.  To contact
    General Commissioner directly, you may use Facebook Messenger (<a href="https://www.facebook.com/Stewie000">https://www.facebook.com/Stewie000</a>) or Text Message
    (<a href="sms://open?addresses=14105079020">410-507-9020</a>).</p>



</body></html>