
<div>
  <h1>New Player Information</h1>

  <p>MNP is open to all players 21+. Nobody under 21 is allowed to play in the league, even if a
    venue is all ages. </p>
  <p>There is no sign-up with the league itself. Rather, captains are responsible for recruiting
    for their own teams, and thus to join the league requires getting in touch with the captains. </p>
  <p>As a new player, don’t expect that you can get onto a roster right away. Spots are very
    limited, and since most teams already have full rosters, it could be difficult to get a roster
    spot as a new player. </p>
  <p>However, you can become a substitute (aka a “sub”) for starters, then eventually find a spot
    on a roster. Captains need to have ten players present at every match, or else their team is
    penalized. When players are absent, captains find substitutes to replace them. Due to our Team
    IPR constraints, many teams (especially the best teams) are also often looking for brand new
    players. This is generally the best opportunity for a new player to become familiar with the league. </p>
  <p>To become a sub, we recommend doing one or more of the following:
    <ul>
      <li>Join the Facebook group “MNP Player Recruiting (MNP Player Recruiting | Facebook)” and
        watch for posts of captains looking for subs. Alternately, you may post your availability
        to play.</li>
      <li>In the MNP Teams list on this website, find out who the captains are for the teams at the
        venues that interest you. Show up on a Monday night when they have a home game and introduce
        yourself. By meeting the captain directly, you can discuss opportunities for subbing. Some
        captains may already have a list of subs thus might not be able to accommodate you. But others
        might be struggling and they especially would be interested. Check out multiple venues and meet
        with other captains. A sub does not need to commit to any team and can substitute for multiple
        teams the same season. No captain or team can claim a sub and prevent them from playing on other
        teams.</li>
      <li>Play in local tournaments or hangout and play a lot at your favorite venue. Most venues that
        host tournaments also host MNP teams, and most players in those tourneys already play in the
        league. By meeting the players, you become known to the community and can spread the word that
        you are interested in subbing. This in turn increases the probability of being asked to sub for
        a team.</li>
    </ul>
  </p>
  <p>Occasionally captains need to replace a roster member. When they do, most of them will replace the
    player with someone known to them, usually someone who has subbed one or more times. If you are a new
    player that nobody knows, then it’s unlikely you’ll get a roster spot. But become known through the
    methods described above, and you greatly increase the possibility of finding yourself on the roster
    of a team.</p>
  
  <h2>Expansion Teams</h2>
  <p>The one time a new player might have the opportunity to go straight onto a roster is when a new
    expansion team is forming. These teams generally form when an existing or new venue have enough
    ‘regulars’ who don’t yet play in the league, but they want to play together and form a team at that
    venue. In that case, if you are one of the regulars, then you might have a chance to be on that team’s
    initial roster.</p>
  <p>Expansion teams require both the captain and co-captain to have at least one full season of experience.
    For additional details on applying for an expansion team, see
    <a href="https://mondaynightpinball.com/leaguerules#L2.04">L2.04 in the LEAGUE RULES</a>.</div></p>
  
